*{
    margin: 0%;
    padding: 0%;
}
 body {
        width: 100vw;
        background-color:#f5f5f5;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.profile{
    width:80%;
    height:8rem;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  align-content: center;
  display:flex;
  justify-content: center;
  flex-direction:column;
  background: #a8ff78;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #78ffd6, #a8ff78);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #78ffd6, #a8ff78); 
border-radius:10px;
}
.profile-content{
    width:100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.Photo{
    width:30%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.profile-data{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left:3rem;
    padding-right: 1rem;
}
.Name{
    display: flex;
    justify-content:center;
    align-items:center;
    align-content: center;
}
img{
    width:4rem;
    height:4rem;
    border-radius:50%;
}
.icons {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    color: black;
}
.type{
    font-size:small;
    padding-left:1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}
.fa-solid{
    color: black;
}
.about {
    width: 80%;
    height:8rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: flex-start;
    justify-content:flex-end;
}
.content{
    padding-left:40px;
    font-size:large;
}
.head{
    padding-top:5px;
    color: #2807e2fd;  /* fallback for old browsers */
     
}
.education {
    width: 80%;
    height:4rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: flex-start;
    justify-content:flex-end;
}
.skill {
    width: 80%;
    height:6rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: flex-start;
    justify-content:flex-end;
}
.table{
    width:100%;
    padding-left:40px;
    /* border-color: black;
    border-style:solid; */
}
.project {
    width: 80%;
    height:6rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: flex-start;
    justify-content:flex-end;
}
.certificate {
    width: 80%;
    height:8rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: flex-start;
    justify-content:flex-end;
}
.Achievements {
    width: 80%;
    height:9rem;
    padding-bottom:1rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: flex-start;
    justify-content:flex-end;
}
.professional{
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom:20px;
    right: 20px;
    gap: 20px;
}
.list{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-content: space-between;
    align-items: stretch;
}
.list1{
    width:20%;
    padding-left:40px;
    /* font-size:large; */
}
.fa-arrow-up-right-from-square{
    background: rgba(7, 55, 246, 0.2);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    border-radius: 40px;
    border: 1rem solid rgba( 255, 255, 255, 0.18 );
}
.fa-code{
    background: rgb(246, 140, 1,0.2);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    border-radius: 40px;
    border: 1rem solid rgba( 255, 255, 255, 0.18 );
}
.fa-code:hover{
    background: rgb(232, 137, 13);
    color: #ffff;
    /* visibility: visible;
      opacity: 1; */
}
.fa-code-branch {
    background: rgb(207, 194, 190,0.2);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    border-radius: 50px;
    border: 1rem solid rgba( 255, 255, 255, 0.18 );
}
.fa-code-branch:hover{
    background: black;
    color:#ffff;
    /* visibility: visible;
      opacity: 1; */
}
.fa-laptop-code:hover{
    background: rgb(26, 108, 8);
    color: #ffff;
    /* visibility: visible;
      opacity: 1; */
}
.fa-laptop-code{
    background: rgba(38, 178, 6, 0.2);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 0px );
    -webkit-backdrop-filter: blur( 0px );
    border-radius: 40px;
    border: 1rem solid rgba( 255, 255, 255, 0.18 );
}
.fa-arrow-up-right-from-square:hover{
    background: rgb(15, 49, 188);
    color:white;
    /* visibility: visible;
      opacity: 1; */
}
/* .GFG .linked .leetcode .git{
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    
    /* Positioning the message */
    /* position: absolute;
    bottom: 100%; /* Show above the icon */
    /* left: 50%;
    transform: translateX(-50%);
    white-space: nowrap; */

    /* Fade-in effect */
    /* opacity: 0;
    transition: opacity 0.3s ease;
} */ 